@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html,body {
    height: 100%;
}

body{
  margin-top: 100px;
  color: grey;
  text-align:justify;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.8;
  background-image: linear-gradient( 135deg, #8ccbff, #282189 );
     margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3{
    color:#294859;
}

label.question{
font-weight: bolder;
font-size: 18px;
color: darkslategrey;
}
input, textarea, select { font-family:inherit; }
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    border-radius:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:0;
}

.card-body{
    padding: 0;
}

.col.right{
    padding: 5% 5% 5% 0%;
}